{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<div>
  <h4>Profile here:</h4>
  <a class="btn btn-dark text-white" href="{% url 'editProfile' %}"
    >Edit your profile</a
  >
  <div class="d-flex flex-wrap justify-content-center px-5 pt-5">
    {% for post in data %}

    <div class="col-sm-3">
      <div class="card mx-2">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content}}</p>
          <p>
            Category: {% for catego in post.category.all %}
            <button class="btn btn-primary btn-sm m-2 text-white" disabled>
              {{catego.name}}
            </button>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  {% endblock %}
</div>
